*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    flex-direction: row;
}
nav{
   background-color: gray;
   display: flex;
   
}
h1{
    background-color: rgb(16, 72, 72);
    color: white;
    padding: 25px;
    text-align: center;
}
main{
    display: flex;
    flex-direction: row;
}